<h2 class="sub-header"><%= title %></h2>
<div class="panels-stacked">
    <div class="panel panel-material-deep-orange">
        <% _.each(albums, function(a) { %>

        <div class="panel-heading"><%= a.title %> <b>(<%= a.year %>)</b></div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Исполнитель</th>
                    <th>Альбом</th>
                    <th>Путь</th>
                    <th>Длительность</th>
                </tr>
                </thead>
                <tbody>
                <% _.each(a.tracks, function(t) { %>

                <tr>
                    <td><%= t.number %></td>
                    <td><%= t.title %></td>
                    <td><%= title %></td>
                    <td><%= a.title %></td>
                    <td><%= t.path %></td>
                    <td><%= getTrackLength(t.length) %></td>
                </tr>

                <% }); %>

                </tbody>
            </table>
        </div>

        <% }); %>

    </div>

</div>
